<div class='flex-fill'>
  <h3>Chat</h3>
  <form id='chat-form'>
    <div class='mb-3'>
      <label for='userChat' class='form-label'>Introduce tu Nombre</label>
      <input
        type='text'
        class='form-control'
        name='userChat'
        id='userChat'
        required
      />
    </div>
    <div class='input-group'>
      <input
        class='form-control'
        id='inputChat'
        type='text'
        placeholder='Enter Message'
        autocomplete='off'
      />
      <button id='botonChat' class='btn btn-success'>
        <i class='fas fa-paper-plane'></i>
        Send
      </button>
    </div>
  </form>
  <div class='chat-mensajes' id='chat-mensajes'>
    {{! <div class='mensaje m-0'>
      <p id='datos' class='opacity-50 badge bg-primary mb-0'>
        imix
        <span class='mx-3 text-dark badge bg-warning'>9:12pm</span>
      </p>
      <p class='lead'>Lorem ipsum dolor sit.</p>
    </div> }}
  </div>
</div>