<div >
    <h2>Lista de Productos</h2>
    <table class="table" >
      <thead>
         <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imágen</th>
         </tr>
      </thead>
      <tbody id="productList">
            
           {{!--  <tr>
               <td class="text-center" colspan="3">
                  <h1 class="fs-1 text-danger">No Hay Productos</h1>
               </td>

            </tr> --}}
      </tbody>
   </table>
</div>